.title {
        font-family: var(--body-text);
        color: var(--title-grey)
}

.main {
        composes: title;
        font-size: 28px;
}

.medium {
        composes: title;
        font-size: 22px;
}

.small {
        composes: title;
        font-size: 18px;
}

.differentColor {
        color: var(--marine)
}