.wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        background-color: var(--main-grey);
}

.special {
        background-color: rgb(129, 235, 235);
}